<div class="container pt-4">
  <div class="input-group">
    <input type="text" (input)="searchPerson(search)" [(ngModel)]="search" class="form-control" id="search" placeholder="Recherche...">
    <button class="btn btn-primary fw-semibold">Rechercher</button>
  </div>
  <div class="mt-1">
    Search for "<b>{{ search }}</b>"
  </div>
  <article class="mt-5">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col-12 col-lg-8">
        <h4>Liste personne</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, quidem.</p>
        <table class="table table-striped">
          <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of (person$ | async)">
              <td>{{ item.id }}</td>
              <td>{{ item.firstName }}</td>
              <td>{{ item.lastName | uppercase }}</td>
              <td>
                <div class="d-flex gap-1">
                  <button class="btn btn-sm btn-danger">
                    Supr
                  </button>
                  <button class="btn btn-sm btn-warning">
                    Edit
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-lg-4">
        <form [formGroup]="formGroupPerson" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2">
          <div class="form-floating">
            <input type="text" formControlName="firstName" id="firstName" class="form-control" placeholder="Saisir votre nom">
            <label for="firstName">Nom</label>
          </div>
          <div class="form-floating">
            <input type="text" formControlName="lastName" id="lastName" class="form-control" placeholder="Saisir votre prenom">
            <label for="lastName">Prenom</label>
          </div>
          <div class="mt-4">
            <button type="submit" [disabled]="formGroupPerson.invalid" class="btn btn-success w-100">Sauvegarder</button>
          </div>
        </form>
      </div>

    </div>
  </article>
</div>

<router-outlet></router-outlet>
